{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Wind Energy Prediction and Weather Report
</h1><br>
<h2 class="subtitle">
  Get Current Weather Conditions Here!
</h2>
<h3>
  <form method="POST" action="/">
    <div class="control" style = "margin:0 10% 0 10%">
    <input class="input is-medium" height=30 type="text" name="city" placeholder="City Name" autofocus="">
    <br><button onclick="weather()">Go</button>
  </div>
  </form>

</h3>
{% if city is defined %}
{% if error == 'no' %}
<h3>
    Current Weather Conditions in {{city}}
  </h3>
  <h4>
    <div style = "background-color: azure;padding: 1em;color: black;margin: 0 10% 0 10%;">
    Temperature : {{temp}}<br>
    Humidity : {{humid}}<br>
    Pressure : {{pressure}}<br>
    Wind Speed : {{speed}}<b></b>
    Country : {{country}}
  </div>
  </h4>
{% elif error == 'yes' %}
<h5 style = "color:black">
  <b>Oops,{{city}} not found</b>
</h5>

{% endif %}
{% endif %}
{% endblock %}