{% extends "base.html" %}

{% block content %}

  <div class="form-outline">
  
</div>
<ul  style = "overflow:0;
float:left;">
  <form method="POST" action = "/statistics" style="margin-left: 0;" >  
  <li  style = "display: inline;margin-top:1em;margin-top: 1em;">
      <input
      style = "padding: .3em;background-color:#F5F5DC;color: #000000;"
      onMouseOver="this.style.backgroundColor='black';this.style.color='#f0f8ff'"
      onMouseOut="this.style.backgroundColor='#F5F5DC';this.style.color='black'"
      type="submit"
      name = "first"
      value="State Wise Production Capacity as of 2021"
      aria-label="readonly input example"
      readonly
    />    
    </li>
    <li class="nav-item" role="presentation" style = "display: inline;margin: 0;">
      <input
      style = "padding: .3em;background-color:#F5F5DC;color: #000000;"
      onMouseOver="this.style.backgroundColor='black';this.style.color='#f0f8ff'"
      onMouseOut="this.style.backgroundColor='#F5F5DC';this.style.color='black'"
      type="submit"
      name = "second"
      value="Wind Generation Growth Over the Years"
      aria-label="readonly input example"
      readonly
    />
    </li>
    <li class="nav-item" role="presentation" style = "display: inline;">
      <input
      style = "padding: .3em;background-color:#F5F5DC;color: #000000;"
      onMouseOver="this.style.backgroundColor='black';this.style.color='#f0f8ff'"
      onMouseOut="this.style.backgroundColor='#F5F5DC';this.style.color='black'"
      type="submit"
      name = "third"
      value="Capacity Growth in India over the Years"
      aria-label="readonly input example"
      readonly
    />
    </li>
    <li class="nav-item" role="presentation" style = "display: inline;">
      <input
      style = "padding: .3em;background-color:#F5F5DC;color: #000000;margin-top: 0.5em;"
      onMouseOver="this.style.backgroundColor='black';this.style.color='#f0f8ff'"
      onMouseOut="this.style.backgroundColor='#F5F5DC';this.style.color='black'"
      type="submit"
      name = "fourth"
      value="Wind Power Generation in TN"
      aria-label="readonly input example"
      readonly
    />
    </li>

</form>
  </ul>


  <div class="tab-content" id="myTabContent0" >
    <div
      class="tab-pane fade show active"
      id="home0"
      role="tabpanel"
      aria-labelledby="home-tab0"
    >
      {% if img == "yes" %}
      <img style = "width: 100%;" src="data:image/png;base64, {{ plot_url }}">
      {% endif %}
    </div>
  </div>
{% endblock %}