{% extends "base.html" %}

{% block content %}

  <div class="form-outline">
  
</div>
<ul class="nav nav-tabs mb-3" id="myTab0" role="tablist">
  <form method="POST" action = "/statistics" >  
  <li class="nav-item" role="presentation">
      <input
      class="form-control"
      style = "width: 20em;background-color:white;"
      onMouseOver="this.style.backgroundColor='#F5F5DC'"
      onMouseOut="this.style.backgroundColor='#FFFFFF'"
      id="formControlReadonly"
      type="submit"
      name = "first"
      value="State Wise Production Capacity as of 2021"
      aria-label="readonly input example"
      readonly
    />    
    </li>
    <li class="nav-item" role="presentation">
      <input
      class="form-control"
      style = "width: 20em;background-color:white;"
      onMouseOver="this.style.backgroundColor='#F5F5DC'"
      onMouseOut="this.style.backgroundColor='#FFFFFF'"
      id="formControlReadonly"
      type="submit"
      name = "second"
      value="Wind Generation Growth Over the Years"
      aria-label="readonly input example"
      readonly
    />
    </li>
    <li class="nav-item" role="presentation">
      <input
      class="form-control"
      style = "width: 20em;background-color:white;"
      onMouseOver="this.style.backgroundColor='#F5F5DC'"
      onMouseOut="this.style.backgroundColor='#FFFFFF'"
      id="formControlReadonly"
      type="submit"
      name = "third"
      value="Capacity Growth in India over the Years"
      aria-label="readonly input example"
      readonly
    />
    </li>
    <li class="nav-item" role="presentation">
      <input
      class="form-control"
      style = "width: 20em;background-color:white;"
      onMouseOver="this.style.backgroundColor='#F5F5DC'"
      onMouseOut="this.style.backgroundColor='#FFFFFF'"
      id="formControlReadonly"
      type="submit"
      name = "fourth"
      value="Wind Power Generation in TN"
      aria-label="readonly input example"
      readonly
    />
    </li>

</form>
  </ul>


  <div class="tab-content" id="myTabContent0">
    <div
      class="tab-pane fade show active"
      id="home0"
      role="tabpanel"
      aria-labelledby="home-tab0"
    >
      {% if img == "yes" %}
      <img style = "width: 100%;" src="data:image/png;base64, {{ plot_url }}">
      {% endif %}
    </div>
    <div class="tab-pane fade" id="profile0" role="tabpanel" aria-labelledby="profile-tab0">
      Tab 2 content
    </div>
    <div class="tab-pane fade" id="contact0" role="tabpanel" aria-labelledby="contact-tab0">
      Tab 3 content
    </div>
  </div>
{% endblock %}